<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-grup col-md-12 col-sm-12">
                            <label for="scodperson">Nombre de Equipo: <strong>{{nombreEquipo}}</strong></label>
                        </div>
                        <div class="form-group col-md-12 col-sm-12">
                            <label class="col-sm-5" for="Estados">Entrenador</label>
                            <select
                              class="col-sm-6 form-control block"
                            >
                              <option value=0>-- Todos --</option>
                              <option
                                *ngFor="let item of listEntrenadores"
                                [value]="item.value"
                              >
                                {{ item.name }}
                              </option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button>
                                    Consulta
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>